$spritesheet: (
	  sprite: (width: 68px, height: 52px, svgPath: '../img/flags.svg'),
 	flag-au: (width: 24px, height: 16px, backgroundX: 0px, backgroundY: 0px),
 	flag-az: (width: 24px, height: 16px, backgroundX: -34px, backgroundY: 0px),
 	flag-be: (width: 24px, height: 16px, backgroundX: 0px, backgroundY: -26px),
);
