.wrapper {
  margin: 0 auto;
  max-width: 980px;

  @media(min-width: $mq-md) {
    display: flex;
    flex-flow: row wrap;
  }
}

.section {
  margin: 15px;

  &__title {
    margin-bottom: 0.5em;
  }

  &--intro {
    flex-basis: 100%;
  }
}
