$spritesheet: (
	  sprite: (width: 123px, height: 120px, svgPath: 'flags.svg'),
 	flag-ae: (width: 20px, height: 14px, backgroundX: -30.5px, backgroundY: -24px),
 	flag-be: (width: 20px, height: 14px, backgroundX: -62.010000000000005px, backgroundY: 0px),
 	flag-br: (width: 20.5px, height: 14px, backgroundX: 0px, backgroundY: -24px),
 	flag-de: (width: 20px, height: 14px, backgroundX: -62.010000000000005px, backgroundY: -24px),
 	flag-dk: (width: 20px, height: 14px, backgroundX: 0px, backgroundY: -48px),
 	flag-es: (width: 21.01px, height: 14px, backgroundX: 0px, backgroundY: 0px),
 	flag-fr: (width: 20px, height: 14px, backgroundX: -30px, backgroundY: -48px),
 	flag-hr: (width: 20px, height: 14px, backgroundX: -60px, backgroundY: -48px),
 	flag-in: (width: 20px, height: 14px, backgroundX: -92.01px, backgroundY: 0px),
 	flag-kz: (width: 20px, height: 14px, backgroundX: -92.01px, backgroundY: -24px),
 	flag-nl: (width: 20px, height: 14px, backgroundX: -92.01px, backgroundY: -48px),
 	flag-no: (width: 21px, height: 14px, backgroundX: -31.01px, backgroundY: 0px),
 	flag-pl: (width: 20px, height: 14px, backgroundX: 0px, backgroundY: -72px),
 	flag-qa: (width: 20px, height: 14px, backgroundX: -30px, backgroundY: -72px),
 	flag-se: (width: 20px, height: 14px, backgroundX: -60px, backgroundY: -72px),
 	flag-si: (width: 20px, height: 14px, backgroundX: -90px, backgroundY: -72px),
 	flag-uk: (width: 20px, height: 14px, backgroundX: 0px, backgroundY: -96px),
);
